{% extends 'hr_app/base.html' %}
{% load static %}

{% block content %}
<div class="glowing-arc-bottom"></div>

<div class="container d-flex flex-column justify-content-center align-items-center text-center" style="min-height: 80vh;">
    <div class="row align-items-center">
        <div class="col-lg-12 text-white">
            <h1 class="display-1 fw-bold">Smart-HR <span style="color: var(--solid-purple);">Management</span> System</h1>
            <p class="lead text-white-50 mt-3">Streamline your HR operations with our comprehensive management system</p>
            <div class="mt-4 d-flex justify-content-center flex-wrap">
                <a href="{% url 'employee_login' %}" class="btn btn-primary btn-lg mx-2 my-1">Employee Login</a>
                <a href="{% url 'hr_login' %}" class="btn btn-primary btn-lg mx-2 my-1">HR Login</a>
                <a href="{% url 'candidate_registration' %}" class="btn btn-primary btn-lg mx-2 my-1">Job Applicants</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}